@import "normalize.css"

@import "styl/welcome.import.styl"

@font-face
  font-family 'Proxima Nova Bold'
  src url("/fonts/Proxima Nova Bold.otf")

@font-face
  font-family 'Proxima Nova Thin'
  src url("/fonts/Proxima Nova Thin.otf")

html, body, #react-root, #app
  width 100%
  height 100%