#welcome, #welcome .background, #welcome .cover, #welcome .content, #welcome #welcome-particles, #welcome .particles-js-canvas-el
  width 100%
  height 100%
  box-sizing border-box

#welcome
  color white
  .background
    background url("images/bg.jpeg") center top no-repeat
    background-size cover
  .cover
    background rgba(38, 60, 76, 0.50)
    #welcome-particles, .particles-js-canvas-el
      position absolute
      top: 0
    .content
      position absolute
      padding-left 50px
      .logo
        margin-top 50px
        background url("images/WuLogo-white.svg") no-repeat
        width 150px
        height 75px
      .introduction
        position absolute
        top: 50%
        padding-right 50px
        .name
          font-family "Proxima Nova Bold"
        .caption
          font-family "Proxima Nova Thin"
      .navigation
        position absolute
        bottom 50px
        .navigation-entry
          font-family "Proxima Nova Thin"
          float left
        .navigation-entry.active
          border-bottom solid white


#welcome .content
  @media all and (min-width 1000px)
    .introduction
      .name
        font-size 65pt
      .caption
        font-size 55pt
    .navigation .navigation-entry
      font-size 35pt
      margin-right 60px
  @media all and (min-width 700px) and (max-width 1000px)
    .introduction
      .name
        font-size 50pt
      .caption
        font-size 40pt
    .navigation .navigation-entry
      font-size 25pt
      margin-right 40px
  @media all and (max-width 700px)
    .introduction
      .name
        font-size 35pt
      .caption
        font-size 27pt
    .navigation .navigation-entry
      font-size 20pt
      margin-right 30px